# vim: ft=yaml
auth:
  # key for session encryption -- bytes in hex format
  session_crypt_key: 1234567123456712345671234567123456712345671234567888888812345678
  # key for github token encryption -- bytes in hex format
  token_crypt_key: 1234567123456712345671234567123456712345671234567888888812345678
  # fixed_capabilities allow you to give some users automatic access (And keep it that way)
  fixed_capabilities:
    yourgithubusername: # put your github username here
      - "modify:user"
      - "modify:ci"
      - "submit"
      - "cancel"
oauth:
  # see the README for adjusting these settings
  client_id: "<your client id>"
  client_secret: "<your client secret>"
  redirect_url: "https://localhost/uisvc/login"
clients:
  logsvc: "localhost:6005"
  datasvc: "localhost:6000"
  queuesvc: "localhost:6001"
  assetsvc: "localhost:6002"
  authsvc: "localhost:6004"
  uisvc: "http://localhost:6010" # uisvc uses http, so urls.
services:
  last_scanned_wait: 1s
  logs_root_path: /var/tinyci/logs # default, will need to change if non-root or set perms beforehand
websockets:
  insecure_websockets: true
db: "host=postgres sslmode=disable database=tinyci user=tinyci password=tinyci"
hook_url: "https://example.com/hook"
url: "https://localhost"
log_requests: false
